* {
  padding: 0;
  margin: 0;
}
body {
  font-size: 14px;
  max-width: 768px;
  margin: 0 auto;
}
fieldset, img, input, button {
  border: none;
  padding: 0;
  margin: 0;
  outline-style: none;
}
ul, ol {
  list-style: none;
}
input {
  padding-top: 0;
  padding-bottom: 0;
}
select, input {
  vertical-align: middle;
}
select, input, textarea {
  font-size: 12px;
  margin: 0;
}
textarea {
  resize: none;
}
img {
  border: 0;
  vertical-align: middle;
}
table {
  border-collapse: collapse;
}
body {
  color: #333;
  background: #fff;
}
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
a {
  color: #666;
  text-decoration: none;
}
a:hover {
  color: #C81623;
}
h1, h2, h3, h4, h5, h6 {
  text-decoration: none;
  font-weight: normal;
  font-size: 100%;
}
s, i, em {
  font-style: normal;
  text-decoration: none;
}
/*公共部分*/
.fl {
  float: left;
}
.fr {
  float: right;
}
.al {
  text-align: left;
}
.ac {
  text-align: center;
}
.ar {
  text-align: right;
}
.hide {
  display: none;
}
.block {
  display: block;
}
.flexjc {
  display: flex;
  justify-content: center;
}
.flexac {
  display: flex;
  align-items: center;
}
.flexjac {
  display: flex;
  justify-content: center;
  align-items: center;
}
