#bar {
  border-bottom: 1px solid #E5E5E5;
}
.recommendBox {
  padding: 0 15px;
}
.recommendBox .recommend {
  display: flex;
  padding: 15px 0;
}
.recommendBox .recommend .recommend-left {
  width: 65px;
  min-width: 65px;
  height: 65px;
  background-color: #434343;
  border-radius: 5px;
}
.recommendBox .recommend .recommend-right {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.recommendBox .recommend .recommend-right div:first-child {
  display: flex;
  justify-content: space-between;
}
.recommendBox .recommend .recommend-right div:first-child span:last-child {
  color: #FF570D;
}
.recommendBox .recommend .recommend-right div:last-child > span {
  padding: 2px 4px;
  background-color: #E5E5E5;
  border-radius: 5px;
}
